<header
  class="h-20 w-full border-b z-10 top-0 sticky bg-stone-100 items-center flex"
>
  <div
    class="max-w-screen-lg mx-auto w-full justify-between px-4 items-center flex"
  >
    <a href="/" class="font-bold text-2xl">news</a>
    <nav class="flex max-lg:hidden gap-6 hover:*:opacity-70 *:font-medium">
      <a href="/">Home</a>
      <a href="/">Top headlines</a>
      <a href="/">Contact</a>
    </nav>
    <div class="flex gap-4">
      <button>
        <i class="ri-search-2-line text-2xl"></i>
      </button>
    </div>
  </div>
</header>
